---
import { loadQuery } from "../sanity/lib/load-query"
import { type Post } from "../models"
import { urlForImage } from "../sanity/lib/urlForImage"

const { data: posts } = await loadQuery<Post[]>({
	query: `*[_type == "post"]`,
})
export const prerender = true
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<hr>
		{posts.map(p => <div>
			<h5><a href={`post/${p.slug.current}`}>{p.title}</a></h5>
			<p>{p.description}</p>
			<img src={urlForImage(p.image).width(200).url()} />
		</div>)}
	</body>
</html>
